.container{
    margin: 30px;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.card{
    padding-top:10px;
    background-color: rgb(95, 230, 230);
    width: 60vh;
    height: 60vh;
    text-align: center;
    border: 1px black solid;
    border-radius: 5px;
    background: linear-gradient(to right, #0ba5c0, #3ea4d4, #9fe7f1);
    box-shadow: 8px 15px 35px 0px rgba(22, 156, 201, 0.527); 
}
.box{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* text-align: center; */
}
img{
    width:30px;
    height: 30px;
}
#pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #54a4da;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
button:hover {
    background-color: #ededd9;
    color: black;
  }